.permy {
  top: -1rem;
  color: $white;
  &.admin {
    background-color: $pink;
  }
  &.author {
    background-color: $blue;
  }
  &.read {
    background-color: $yellow-d1;
  }
}

.card-title {
  font-size: 150%;
}

.library-access-wrapper .form-create {
  border: none;
  &:hover {
    box-shadow: none;
  }
}
