.perm-badge {
  position: absolute;
  top: -1.25rem;
  margin-left: .5rem;
  padding: .25rem .75rem .25rem .75rem;
  color: white;
  font-size: 70%;
  text-transform: uppercase;
  &.admin {
    background-color: $pink;
  }
  &.author {
    background-color: $blue;
  }
  &.read {
    background-color: $yellow-d1;
  }
}

.permy {
  top: -1rem;
  color: $white;
  &.admin {
    background-color: $pink;
  }
  &.author {
    background-color: $blue;
  }
  &.read {
    background-color: $yellow-d1;
  }
}

.card-title {
  font-size: 150%;
}

.library-access-wrapper .form-create {
  border: none;
  &:hover {
    box-shadow: none;
  }
}
