.section-sub-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .75rem;
  border-bottom: var(--pgn-size-border-width) solid var(--pgn-color-light-400);

  h2 {
    color: var(--pgn-color-black);
    margin-bottom: .75rem;
  }
}
