.library-unit-page {
  .pgn__card {
    border-radius: 8px;
    padding: 0px;
    margin-bottom: 1rem;
    border: solid 1px $light-500;
  }

  .pgn__card.clickable {
    box-shadow: none;
  }

  .pgn__card.clickable:hover {
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.15), 0 0.125rem 0.5rem rgba(0, 0, 0, 0.15);
  }
}
