@import "variables";
@import "../assignment-section/AssignmentSection.scss";
@import "../grading-scale/GradingScale.scss";

.grading {
  .help-sidebar {
    margin-top: 8.75rem;
  }

  .grading-label {
    font: normal var(--pgn-typography-font-weight-bold) .75rem/1.25rem var(--pgn-typography-font-family-base);
    color: var(--pgn-color-gray-500);
  }

  .grading-description {
    font: normal .75rem/1.5rem var(--pgn-typography-font-family-base);
    color: var(--pgn-color-gray-700);
  }
}
