/* Adapted from:
 * edx-platform/cms/static/sass/views/_dashboard.scss
 */
.library-index-tabs {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;

  li {
    display: inline-block;
    line-height: $baseline*2;
    margin: 0 10px;

    &.active {
      border-bottom: 4px solid #0075b4;
    }

    &.active,
    &:hover {
      a {
        color: $gray-d2;
      }
    }

    a {
      color: #0075b4;
      cursor: pointer;
      display: inline-block;
    }
  }
}

.well {
  border: 1px solid $gray-l3;
  border-radius: ($baseline/4);
  box-shadow: 0 1px 3px $shadow inset;
  background-color: $gray-l5;
  padding: ($baseline/2);
}
