@import "./breadcrumbs/Breadcrumbs";
@import "./course-sequence/CourseSequence";
@import "./add-component/AddComponent";
@import "./legacy-sidebar/LegacySidebar";
@import "./header-title/HeaderTitle";
@import "./move-modal";
@import "./preview-changes";
@import "./xblock-container-iframe";

.course-unit {
  min-width: 900px;
}

.course-unit__alert {
  margin-bottom: 1.75rem;
}
