.sidebar {
  .sidebar-content {
    flex: 0 1 auto;
    min-width: 440px;
    overflow-y: auto;
    min-height: 100vh;
    height: 100%;
    max-height: 300vh;

    /*
     * Change the styles for tabs in all sidebars.
     *
     * The tabs occupy the entire width of the sidebar,
     * and each tab shares the space equally.
     * The clickable area of ​​the tab is the entire
     * area it occupies, not just the label.
     */
    .pgn__tabs {
      .nav-item {
        flex: 1 1 0;
        text-align: center;
      }

      .pgn__tab_more {
        display: none;
      }
    }
  }

  .dropdown-toggle {
    padding: .2rem .5rem;
    background-color: transparent !important;
  }

  .sidebar-toggle {
     display: flex;
     flex-direction: column;
     align-self: flex-start;
     align-items: center;

    .pgn__icon-button-toggle__container {
      flex-direction: column;
      align-items: flex-center;

      .btn-icon + .btn-icon {
        margin-top: var(--pgn-spacing-spacer-1);
        margin-inline-start: unset;
      }
    }

    .rounded-iconbutton {
      border-radius: var(--pgn-size-menu-base-border-radius);
      border: 1px solid var(--pgn-color-primary-base);
      background-color: transparent;
      color: var(--pgn-color-primary-base) !important;
      width: 56px;

      &.btn-icon-primary-active {
        border-width: 3px;
      }

      &:hover {
        border-width: 2px;
      }

      // Add a triangle to the active button
      &.btn-icon-primary-active::before {
        content: "";
        border-right: 5px solid var(--pgn-color-primary-base);
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-left: none;
        position: absolute;
        transform: translate(-30px, 15px);
      }
    }
  }
}
