@import "./component-info/ComponentPreview";
@import "./components";
@import "./generic";
@import "./LibraryAuthoringPage";
@import "./units";
@import "./section-subsections";
@import "./containers";
@import "./hierarchy";

.library-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 2rem;
  justify-items: center;
}
