@import '~@edx/brand/paragon/fonts';
@import '~@edx/brand/paragon/variables';
@import '~@edx/paragon/scss/core/core';
@import '~@edx/paragon/dist/Icon';
@import '~@edx/brand/paragon/overrides';
@import '~@edx/paragon/scss/core/core';
@import '~@edx/paragon/dist/Icon';

@import '~@edx/frontend-component-header/dist/index';
@import '~@edx/frontend-component-footer/dist/footer';

@import './library-authoring/index.scss';
