.form-group-custom {
  .pgn__form-label {
    font: normal $font-weight-bold .75rem/1.25rem $font-family-base;
    color: $gray-500;
    margin-bottom: .5rem;
  }

  .pgn__form-control-description,
  .pgn__form-text {
    font: normal $font-weight-normal .75rem/1.25rem $font-family-base;
    color: $gray-500;
    margin-top: .5rem;
  }

  .dropdown-toggle {
    width: 100%;
    justify-content: space-between;
  }

  .form-group-custom_isInvalid {
    input {
      border-color: $form-feedback-invalid-color;
    }
  }

  .feedback-error {
    color: $form-feedback-invalid-color;
  }
}
