.export-footer-list {
  list-style: none;
  padding-left: 0;

  li {
    padding-bottom: 0.3125rem;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 0.3125rem;
  }

  li:last-child {
    border-bottom: none;
  }
}
