.taxonomy-tags-collapsible {
  flex: 1;
  border: none !important;

  .collapsible-trigger {
    border: none !important;
  }
}

.taxonomy-tags-selector-menu {
  button {
    flex: 1;
  }
}

.taxonomy-tags-selector-menu + div {
  width: 100%;
}

.taxonomy-tags-selectable-box-set {
  grid-auto-rows: unset !important;
  grid-gap: unset !important;
  overflow-y: scroll;
  max-height: 20rem;
}

.pgn__modal-popup__arrow {
  visibility: hidden;
}

.add-tags-button:not([disabled]):hover {
  background-color: transparent;
  color: $info-900 !important;
}

.cancel-add-tags-button:hover {
  background-color: transparent;
  color: $gray-300 !important;
}
