.DS_Store
.eslintcache
.idea
node_modules
npm-debug.log
coverage

dist/
src/i18n/transifex_input.json
temp/babel-plugin-react-intl

### pyenv ###
.python-version

### vim ###
*.swp

### Emacs ###
*~
/temp
/.vscode
/module.config.js

# Local environment overrides
.env.private

# Messages .json files fetched by atlas
src/i18n/messages/

# environment js config
env.config.jsx
