.transcript-menu {
  padding: 8px 0;
  margin: 0;
  width: 250px;

  box-shadow: var(--pgn-elevation-box-shadow-down-2);

  .pgn__menu-item {
    width: 100%;
    justify-content: start;
    font-weight: 400;

    &:hover {
      background-color: var(--pgn-color-light-300);
    }
  }
}
