/* Adapted from:
 * edx-platform/cms/static/sass/elements/_header.scss
 */
.wrapper-header {
  @extend %ui-depth3;

  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0 $shadow-l1;
  margin: 0;
  padding: 0 $baseline;
  background: $white;

  header.primary {
    box-sizing: border-box;

    @include clearfix();

    max-width: $fg-max-width;
    min-width: $fg-min-width;
    margin: 0 auto;
    min-height: 79px;
  }

  .wrapper-l,
  .wrapper-r {
    display: flex;
    background: $white;
    min-height: 79px;
  }

  .wrapper-l {
    @include float(left);
  }

  .wrapper-r {
    @include float(right);
    @include text-align(right);
  }

  .branding,
  .info-library,
  .nav-account {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 0;
  }

  .nav-account {
    position: relative;
    padding: ($baseline*0.85) 0;
    width: auto;
  }

  nav {
    .dropdown {
      .btn {
        font-size: 1.6rem;
        font-weight: 600;
        background-color: white;
        color: $gray-d1;
        border: 0;
        line-height: 2.368rem;

        &:hover {
          color: $uxpl-blue-hover-active;
        }
      }

      .dropdown-menu {
        font-size: 1.2rem;
        padding: 0;
      }
    }

    > ol {
      margin: 0;
      padding: 0;

      > .nav-item {
        @extend %t-action3;
        @extend %t-strong;

        display: inline-block;
        vertical-align: middle;

        &:last-child {
          margin-right: 0;
        }

        .title {
          max-width: ($baseline*10.5);
          font-size: 1.6rem;
          font-weight: 600;
          padding: 0.375rem 1.25rem;
          margin: 0;
        }

        a {
          color: $gray-d1;
          text-decoration: none;

          &:hover {
            color: $uxpl-blue-hover-active;
          }
        }
      }
    }
  }

  .branding {
    padding: ($baseline*0.75) 0;
    margin-right: 2.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
      display: block;

      img {
        display: block;
        max-height: ($baseline*2);
      }
    }
  }

  .info-library {
    @include margin-right(2%);
    @include border-right(1px solid $gray-l4);
    width: 50%;
    padding: ($baseline*0.75) 2% ($baseline*0.75) 0;

    .library-org,
    .library-id {
      @extend %t-action4;

      display: inline-block;
      vertical-align: middle;
      max-width: 45%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      opacity: 1;
      color: $gray-d3;
      font-size: 1.2rem;
      line-height: 1.776rem;
    }

    .library-org {
      @include margin-right($baseline/4);
    }

    .library-title {
      @extend %t-action2;
      @extend %t-strong;

      display: block;
      width: 100%;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      line-height: 2.368rem;
      font-size: 1.6rem;
    }

    .library-link {
      @include transition(color $tmg-f2 ease-in-out 0s);

      display: block;
      color: $gray-d3;
      text-decoration: none;

      &:hover {
        color: $uxpl-blue-hover-active;
      }
    }
  }
}
