.image-preview {
  box-shadow: var(--pgn-elevation-box-shadow-down-1);

  display: block;
  width: 23.4375rem;
  height: 12.5rem;
  overflow: hidden;
  margin: 0 auto;
  border: .0625rem solid var(--pgn-color-gray-300);
  padding: .625rem;
  background: var(--pgn-color-white);

  img {
    display: block;
    width: 100%;
    min-height: 100%;
  }
}

.image-body {
  text-align: center;

  .pgn__dropzone {
    background: var(--pgn-color-white);
  }
}
