.add-team-member {
  display: flex;
  flex-direction: column;
  border: .0625rem solid $gray-200;
  border-radius: .375rem;
  box-shadow: 0 1px 1px $gray-200;
  padding: 1.25rem 1.875rem 0 1.875rem;
  background: $white;

  .add-team-member-info {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
  }

  .add-team-member-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }

  .text-gray-500.small {
    display: block;
    color: $gray-600;
    font-size: 0.95rem;
    margin-bottom: 0.5rem;
  }

  .add-team-member-divider {
    border-top: .0625rem solid $gray-200;
    margin: 0 0 0.5rem 0;
    width: calc(100% + 3.75rem);
    position: relative;
    left: -1.875rem;
  }

  .add-team-member-action-row {
    display: flex;
    justify-content: flex-end;
    padding-bottom: 0.5rem;
  }

  button {
    min-width: 180px;
  }
}
