// This SCSS was partly copied from edx/frontend-app-support-tools/src/support-header/index.scss.
$spacer: 1rem;
$blue: #007DB8;
$white: #FFFFFF;

.btn-tertiary:hover {
  color: white;
  background-color: #00262B;
}

.course-title-lockup {
  @media only screen and (max-width: 768px) {
    padding-left: .5rem;
    max-width: 70%;
  }

  @media only screen and (min-width: 769px) {
    padding: .5rem;
    padding-right: $spacer;
    border-right: 1px solid #E5E5E5;
    min-width: 70%;
  }

  overflow: hidden;

  span {
    color: #333333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.375rem;
  }
}

.mobile-menu-container {
  background-color: white;

  .pgn__modal-popup__arrow::after {
    border-top-color: white;
  }
}

.dropdown-item a {
  text-decoration: none;
}

.mobile-menu-item {
  padding: 8px 0;

  a {
    color: #454545;
  }
}

// .icon-button {
//   display: inline-flex;
//   line-height: 3rem;
//   background: transparent;
//   vertical-align: middle;
//   text-align: center;
//   border: none;
//   height: 3rem;
//   width: 3rem;
//   padding: .75rem;
//   justify-content: center;
//   align-items: center;

//   &:hover,
//   &:focus {
//     background: rgb(0 0 0 / .1);
//   }
// }

.site-header-mobile,
.site-header-desktop {
  position: relative;
  z-index: 1000;
}

.site-header-mobile {
  .nav-link {
    text-decoration: none;
    cursor: pointer;
  }

  img {
    height: 1.5rem;
  }
}

.site-header-desktop {
  height: 3.75rem;
  box-shadow: 0 1px 0 0 rgb(0 0 0 / .1);
  background: $white;

  .nav-link {
    text-decoration: none;
  }

  .logo {
    display: block;
    box-sizing: content-box;
    position: relative;
    top: -.05em;
    height: 1.75rem;
    padding: $spacer 0;
    margin-right: $spacer;

    img {
      display: block;
      height: 100%;
    }
  }

  .main-nav {
    flex-wrap: nowrap;

    .nav-link {
      padding: $spacer;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: .01em;
    }

    .nav-link:hover,
    .nav-link:focus,
    .nav-link.active,
    .expanded .nav-link {
      background: $component-active-bg;
      color: $component-active-color;
    }

    .menu {
      position: relative;

      .menu-content {
        border-top: solid 2px $component-active-bg;
        box-shadow: 0 1px 2px rgb(0 0 0 / .25);
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        padding: $spacer;
      }
    }
  }
}
