.textbooks-empty-placeholder {
  box-shadow: var(--pgn-elevation-box-shadow-down-1);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  border-radius: .375rem;
  padding: var(--pgn-spacing-spacer-4);
}
