
// Simulate Tailwind-style arbitrary value classNames. We have to hard code this one though.
.h-\[calc\(100vh-200px\)\] {
  height: calc(100vh - 200px);
}

// Helper to set a minimum width for the This Course / All Courses toggle
.pgn__menu-select.with-min-toggle-width {
  & > button {
    min-width: 155px;
  }
}

.courseware-search-modal {
  // Fix so the 'This course' / 'All courses' dropdown is not cut off on the right hand side,
  // But still preserve correct scrolling behavior for the results list (vertical)
  // (If we set 'isOverflowVisible: true', the scrolling of the results list is messed up)
  overflow: visible;

  // Options for the "filter by tag" menu
  .pgn__menu {
    $indent-initial: 1.3rem;
    $indent-each: 1.6rem;
    .tag-option-1 {
      padding-left: $indent-initial + (1 * $indent-each);
    }
    .tag-option-2 {
      padding-left: $indent-initial + (2 * $indent-each);
    }
    .tag-option-3 {
      padding-left: $indent-initial + (3 * $indent-each);
    }
    .tag-option-4 {
      padding-left: $indent-initial + (4 * $indent-each);
    }
  }
}