%draft-status {
  background-color: #FDF3E9;
  border-color: #F4B57B !important;
  color: #00262B;
}

%published-status {
  background-color: var(--pgn-color-info-100);
  border-color: var(--pgn-color-info-400) !important;
  color: var(--pgn-color-primary-500);
}

.status-widget {
  border-top: 4px solid;
  border-left: none;
  border-right: none;
  border-bottom: none;

  &.draft-status {
    @extend %draft-status;
  }

  &.published-status {
    @extend %published-status;
  }
}
