.course-card {
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    margin: 0 auto;

}

.course-card-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.title-container {
    height: 3rem;
    margin-bottom: 0.5rem;
}
  
.card-title {
    font-size: 1rem;
    line-height: 1.4;
    word-break: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.course-card-buttons {
    display: flex;
    gap: 0.5rem;
    justify-content: space-between;
    flex-wrap: wrap;
  
    @media (max-width: 340px) {
        flex-direction: column;
    }
  
    button {
        flex: 1;
        white-space: nowrap;
        padding: 0.4rem 0.5rem;
        font-size: 0.75rem;
        min-width: max-content;
    }
}