.summary-radio {
  display: flex;
  align-items: center;
  width: 100%;
  border-width: var(--pgn-size-border-width);
  border-color: var(--pgn-color-border);
  border-radius: var(--pgn-size-border-radius-base);
  border-style: solid;

  &:has(input:checked) {
    border-width: 3px;
    border-color: theme-color("primary");
  }

  > div {
    flex: 1;

    > label {
      min-height: 80px;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }
}

.reset-units-button {
  color: var(--pgn-color-link-base);
  border-width: var(--pgn-size-border-width);
  border-color: var(--pgn-color-border);
  border-radius: var(--pgn-size-border-radius-base);
  border-style: solid;
}

.reset-tooltip {
  .arrow::before {
    border-right-color: #00262B;
  }

  .tooltip-inner {
    background-color: #00262B;
  }
}
