.embed-video-container {
  @include pgn-box-shadow(1, "down");

  border-radius: .1875rem;

  .introduction-video {
    padding: .75rem;
    height: 23.375rem;
  }
  .introduction-video iframe,
  .introduction-video video {
    height: 100%;
    aspect-ratio: 16 / 9;
    display: block;
  }
}
