.library-block-wrapper {
  margin: 0;
  font-size: 1.4rem;
}

// The following to be removed when a proper interface for library authoring is fully specced out.
// This should make error messages visible in the mean time.
.library-detail-wrapper {
  .invalid-feedback {
    display: block;
    background-color: $white;
    font-size: 70%;
    border-radius: 3px;
  }
  .add-xblock-component .new-component-type .add-xblock-component-button {
    height: auto;
  }
}

.cta-button {
  padding: 1rem 2rem;
  font-size: 120%;
}

.library-blocks-pagination {
  display: block;
  margin-top: 1.5em;

  * {
    font-size: 1.4rem;
  }

  .pagination {
    .page-item {
      .btn {
        min-width: 2.5em;
        min-height: 2.5em;
        border: 1px solid $gray-l2;
      }
    }
  }
}
