@import "~@edx/brand/paragon/variables";

.editProblemView {
  .editProblemView-settingsColumn {
    width: 320px;
    flex-grow: 0;
    flex-shrink: 0;
  }

  .QuestionCard{
    border: 2px solid transparent;

    &.is-selected{ 
      border-color: $black;
    }

    .question-card-header__menu + .dropdown-menu{
      padding: 0;
      border: 0;
      border-radius: 4px;
      box-shadow: $level-1-box-shadow;
    }

    .question-title-card{ 
      font-size: .75rem;
      line-height: .875rem;
      color: $black;
    }
  }

  .answer-option {
    .pgn__form-checkbox,
    .pgn__form-radio {
      & + .pgn__form-label {
        min-width: 1.1rem;
      }
    }
  }

  .settingsOption {
    .pgn__form-checkbox .pgn__form-label {
      min-width: .8rem;
    }
  }

  .btn-inverse-primary.add-new-question-btn:not(:disabled, .disabled){
    &:hover, &:focus, &:active{
      color: $primary;
      background: $white;
      box-shadow: $level-1-box-shadow;
    }
  }
}

.tinyMceWidget {
  .tox-tinymce {
    border-radius: .375rem;
  }

  .tox {
    .tox-toolbar__primary {
      background: none;
    }
  }

  .tox-statusbar {
    border-top: none;
  }

  .tox-toolbar__group:not(:last-of-type) {
    // TODO: Find a way to override the border without !important
    border-right: none !important;

    &::after {
      content: '';
      position: relative;
      left: 5px;
      border: 1px solid $light-400;
      height: 24px;
    }
  }
}
