.editProblemView {
  .editProblemView-settingsColumn {
    width: 320px;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .advancedEditorTopMargin {
    margin-top: 40px;
  }
}

.tinyMceWidget {
  .tox-tinymce {
    border-radius: 0.375rem;
  }

  .tox {
    .tox-toolbar__primary {
      background: none;
    }
  }

  .tox-statusbar {
    border-top: none;
  }

  .tox-toolbar__group:not(:last-of-type) {
    // TODO: Find a way to override the border without !important
    border-right: none !important;

    &:after {
      content: '';
      position: relative;
      left: 5px;
      border: 1px solid #eae6e5;
      height: 24px;
    }
  }
}
