/* global-overrides.scss */
/* Add styles here that you want to apply globally and potentially override existing component styles. */
/* Due to the import order in index.jsx, styles defined here will have higher specificity. */

/* Example: */
/*
body {
  background-color: lightblue !important; 
}

.btn {
  border-radius: 0 !important; 
}
*/

.btn-primary {
  color: #FFFFFF;
  background-color: #20ad96;
  border-color: #20ad96;
}

.btn-outline-primary {
  color: #20ad96;
  border-color: #20ad96;
}

.pgn__bubble.pgn__bubble-primary {
  background-color: #20ad96;
  color: #FFFFFF;
}