@import "./global-overrides";

// Help Sidebar styles
.help-sidebar {
  @include card-style1;
  // background-color: white;
  padding: 1rem;
  // border-radius: 1rem;
  margin-top: 0 !important;
  // border: 1px solid #ced4da;

  .help-sidebar-about-descriptions,
  .help-sidebar-other-links {
    padding: 7px;
    border: 1px solid #ced4da;
    border-radius: 10px;
  }

  .help-sidebar-about-title,
  .help-sidebar-other-title {
    margin-bottom: 0.5rem !important;
  }

  hr {
    display: none;
  }
}

// K styles start

//Grading Sub Header styles
.sub-header-content {
  margin-top: 0rem;

  .sub-header-content-title {
    font: 1.40625rem;
    color: #000000;
    font-weight: 700;
    line-height: 1.25;
  }
}

//Grading Horizontal bar (below sub-header) styles
.border-bottom {
  border: transparent !important;
}

.grading-sub-header {
  display: block;
  height: 1px;
  background-color: #ced4da;
  margin: 10px 0;
  margin-left: -1rem !important;
  margin-right: -1rem !important;
}

// Grading Section sub-header styles
.section-sub-header {
  border-bottom: 0;

  h2 {
    // margin-bottom: 0rem;
  }
}

.grading-scale {
  margin-bottom: 2rem;

  .btn-icon.btn-icon-primary {
    background-color: white;
    border: 1.5px solid #ced4da;
    color: #9e9f9e;
    width: 2.5rem;
    height: 2.5rem;
  }

  .grading-scale-segments-and-ticks {
    border: none;
    border-radius: 1rem;
    overflow: hidden;
  }
}

.grading-description {
  // display: none !important; // uncomment it when description to be hidden
}

// Assignment Types Styles
.course-grading-assignment-wrapper {
  background-color: #f4f7ff;
  border: none;
  border-radius: 10px;
}

.grading {

  // Margin for Alert container
  .mt-5 {
    margin-top: 0rem !important;
  }

  // Grading Main container styles
  .setting-items {
    article {
      background-color: white;
      padding: 1rem;
      border-radius: 1rem;
      border: 1px solid #ced4da;
    }

    // Assignment header styles
    header {
      display: block;

      h2 {
        margin-bottom: 0rem;
      }
    }

  }
}

// Course Updates styles

// Course Updates Main container styles
.setting-items {
  article {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid #ced4da;
  }
}

// Header subtitle content style
.sub-header {
  .sub-header-title-subtitle {
    display: none;
  }
}

.sub-header-instructions {
  color: var(--text-secondary) !important;
  font-size: 18px;
  position: relative;
}

.sub-header-instructions::after {
  color: #ced4da !important;
  font-size: 18px;
  content: "";
  display: block;
  height: 1px;
  background-color: #ced4da;
  margin-top: 8px;
  margin-left: -1rem !important;
  margin-right: -1rem !important;
}

// Custom styles for CourseUpdatesNew tabs
.course-updates-new-wrapper .nav-tabs {
  border-bottom: none !important;
  // margin-bottom: 1.5rem;
  box-shadow: none !important;
}

.course-updates-new-wrapper .nav-tabs .nav-link {
  border: none !important;
  border-radius: 2rem !important;
  margin-right: 0.5rem;
  color: #111;
  background: #fff;
  padding: 0.35rem 1.5rem;
  font-weight: 500;
  transition: background 0.2s, color 0.2s;
}

.course-updates-new-wrapper .nav-tabs .nav-link.active,
.course-updates-new-wrapper .nav-tabs .nav-link:focus {
  background: #d8e1ff !important;
  color: #111 !important;
  font-weight: 600;
  outline: none !important;
  box-shadow: none !important;
  border-color: transparent !important;
}

.updates-container {
  grid-template-columns: none;
  border-radius: 12px !important;
  border: solid 1px #e5e6e6 !important;

  .p-4\.5 {
    padding: 1rem !important;
  }

  .update-card,
  .update-form {
    background-color: #f2f5ff !important;
  }
}

.updates-section {
  .update-form {
    background-color: #f2f5ff !important;
    padding: 1rem !important;
  }
}

.recent-updates,
.course-handouts .course-handouts-header .course-handouts-header__title {
  color: #111;
  font-size: 1.40625rem;
  font-weight: 400;
}

.course-update .course-update-header {
  margin-bottom: 0rem;
}

// K styles end

// S Styles Start

.course-team {
  article {
    @include card-style1;
    padding: 1rem;
    width: 100%;
    height: 100%;
  }

  // .help-sidebar {
  //   @include card-style1;
  //   padding: 1rem;
  //   margin-top: 0 !important;
  // }

  .course-team-sidebar {
    hr {
      border-top: none !important;
    }
  }

  .course-team-container {
    margin-top: 0 !important;
  }

  .course-team-custom-sub-header {
    display: flex;
    justify-content: space-between;
    // align-items: center;
    margin-top: 0 !important;
    height: 3rem;
    margin-bottom: 0.5rem;

    span {
      font-size: 20px;
      font-weight: bold;
      line-height: 1.2;
      letter-spacing: normal;
    }

  }

  .course-team-custom-header {
    hr {
      margin-left: -1rem !important;
      margin-right: -1rem !important;
    }

  }

  .sub-header-title {
    display: none;
  }

  .course-team-member {
    background-color: var(--bg-body) !important;
    border-radius: 8px !important;

    .member-hint {
      margin-right: 0 !important;
      width: 60% !important;
    }
  }

  .add-team-member {
    @include card-style3;
    background-color: var(--bg-surface) !important;
  }

  .add-user-form {
    @include card-style3;
    background-color: var(--bg-body) !important;

    .form-field {
      padding: 1.25rem !important;
      padding-bottom: 0.5rem !important;
    }

    .form-title {
      margin-bottom: 1rem !important;
      font-size: 20px !important;
    }

    .form-helper-text {
      display: none !important;
    }
  }

  .pgn__action-row {
    padding-top: 0 !important;
    border-top: none !important;
    padding-left: 1.25rem !important;

    button {
      padding-left: 1rem !important;
      padding-right: 1rem !important;
    }
  }
}

.advanced-settings {

  .setting-header {
    margin-top: 0 !important;
  }

  .setting-items {
    article {
      @include card-style1;
      padding: 1rem;

      .advanced-settings-custom-header {
        hr {
          margin-left: -1rem !important;
          margin-right: -1rem !important;
        }

        .warning-message-container {
          margin: 1rem 0;
        }
      }

      .advanced-settings-custom-sub-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
        .custom-setting-items-deprecated-setting {
          margin-top: -1rem;
        }
        
        .border-bottom {
          display: block !important;
  
          .sub-header-title {
            font-size: 20px !important;
            font-weight: 600 !important;
            line-height: 1.2 !important;
            letter-spacing: normal !important;
          }
  
          .sub-header-content-title {
            font-size: 16px !important;
            font-weight: 400 !important;
            line-height: 1.2 !important;
            letter-spacing: normal !important;
          }
        }
      }

      
      
      .setting-items-list {
        .setting-card {
          background-color: var(--bg-body) !important;
          border-radius: 8px !important;
          margin-bottom: 1rem !important;

          .pgn__card-header .pgn__card-header-title-md {
            font-size: 16px !important;
            line-height: 1.2 !important;
            font-weight: 400 !important;

            button {
              color: var(--text-secondary) !important;
              // margin-left: 0rem !important;

              span {
                height: 1.25rem !important;
                width: 1.25rem !important;
              }
            }
          }
        }

        .pgn__card-header-content  {
          margin-top: 1.438rem !important;
          margin-bottom: 1.438rem !important;
        }

        .custom-setting-card.show-deprecated-style .setting-card {
          background-color: #ffe3e0 !important;
          border: solid 1px #e0e0e0 !important;

          .pgn__card-status.pgn__card-status__danger {
            display: none !important;
          }
        }

        .custom-setting-card.show-deprecated-style {
          position: relative;

          .deprecated-label {
            position: absolute;
            left: 1.5rem; /* aligns with card content padding */
            bottom: 0.4rem; /* just above the card's bottom padding */
            color: #e53e3e;
            background: none;
            font-size: 13px;
            font-weight: 400;
            z-index: 2;
            pointer-events: none;
          }
          .setting-card {
            position: relative; // ensure the card is the positioning context
          }
        }
      }
    }

    .border-bottom {
      display: none !important;
    }
  }
}

.alert-toast {
  width: auto !important;
}

.certificates {
  article {
    @include card-style1;
    padding: 1rem;

    .certificates-custom-sub-header-title {

      .border-bottom {
        margin-bottom: 0 !important;
      }

      .sub-header {
        .sub-header-title {
          @include sub-header-title-style1;
          padding-top: 0.5rem;
        }

        .sub-header-actions {
          margin-bottom: 0 !important;
          
          button, a {
            padding: 0.4rem 1.5rem;
            font-size: 1rem !important;
          }
        }
      }
      
    }

    .certificates-custom-header {
      margin-bottom: 1rem;

      hr {
        margin-left: -1rem !important;
        margin-right: -1rem !important;
      }
    }

    .certificates-custom-sub-header {
      margin-bottom: 1rem;
    }

    .card {
      @include card-style3;
      background-color: var(--bg-body) !important;
    }

    .certificates-card-form {

      .pgn__vstack {
        gap: 0 !important;
      }

      .section-title {
        @include section-title-style1;
      }

      label {
        @include section-title-style3;
      }

      .pgn__form-control-description {
        font-size: 14px !important;
        margin-top: 0rem !important;
      }

      .certificate-details {
        padding-bottom: 1rem !important;
        margin-bottom: 1rem !important;
        border-bottom: 1px solid var(--border-color);
        hr {
          display: none !important;
        }

        .section-title {
          @include section-title-style1;
        }

        .certificate-details__info-paragraph {
          strong {
            @include section-title-style2;
          }
          margin-bottom: 0.5rem !important;
          @include section-title-style3;
        }

        // .certificate-details__info {}
      }

      .pgn__card-footer {
        button {
          padding: 0.4rem 1.5rem;
          font-size: 1rem !important;
        }
      }
    }

    .certificate-signatories {
      hr {
        display: none !important;
      }

      p {
        @include section-title-style3;
        color: var(--text-secondary) !important;
      }

      .signatory-form {
       @include card-style1;
       background-color: var(--bg-surface) !important;
       padding: 1rem !important;
       margin-bottom: 1rem !important;

       .section-title {
        margin-bottom: -1rem !important;
       }

       .pgn__stack-gap--2 {
         button {
          margin-top: -0.5rem !important;
          padding: 0.4rem 1.5rem;
          font-size: 1rem !important;
        }
       }
      }

      .btn-outline-primary {
        padding: 0.4rem 1rem;
        font-size: 1rem !important;
        width: fit-content !important;
        margin-top: 0 !important;
      }

      .signatory {
        @include card-style1;
        background-color: var(--bg-surface) !important;

        .signatory__text {
          b {
            @include section-title-style2;
          }
          @include section-title-style3;
          color: var(--text-primary) !important;
        }
      }
    }
  }

  .help-sidebar-about {
    margin-bottom: 1rem !important;
  }
}

// S Styles End

// N Styles Start
.course-outline-container {
//  header{
//   background-color: white;
//   padding: 1rem;
//   border-radius: 1rem;
//   border: solid 1px var(--border-color);
//  }
.outline-status-bar{
  margin-bottom: 1rem;
}
  article {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 1px var(--border-color);
  }
 
  .help-sidebar {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    border: solid 1px var(--border-color);
    margin-top: 0px !important;
    .outline-sidebar-section{
    border: 1px solid var(--border-color);
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 12px;
    hr{
      display: none;
    }
    }
  }
  .sub-header .btn-primary{
    border-radius: 8px;
  }
  .course-outline-section .btn-outline-primary{
    border-radius: 8px;
    border: solid 1px #616061;
    color: var(--text-muted);
  }
  .sub-header .sub-header-actions .ml-auto {
    margin-right: auto !important;
    margin-left: 0px !important;
    margin-top: 1rem;
  }
  .sub-header .sub-header-actions {
    border-top: 1px solid var(--border-color);
  }
  .section-card .section-card__subsections .btn-outline-primary{
    border: 1px solid var(--border-color);
  }
  .item-card-header .m-0 .form-control{
    border: 1px solid var(--border-color);
  }
  .section-card .section-card__subsections .subsection-card__units .extend-margin .btn-icon-primary{
    color: var(--text-primary) !important;
  }
  .row .btn-icon-secondary{
    color: var(--text-primary) !important;
  }
  .section-card__subsections .extend-margin .subsection-card .btn-icon-primary{
    color: var(--text-primary) !important;
  }
  .item-card-header .btn-icon-primary{
    color: var(--text-primary) !important;
  }
  .pt-4 .mx-0{
    background-color: #f2f5ff !important;
  }
}
// N Styles End