// K styles start
.sub-header-content {
  display: block !important;
}

.section-sub-header {
  display: block;
}

.setting-items {
  article {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
  }
}

.grading {
  .help-sidebar {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
    margin-top: 0 !important;
  }
}


// K styles end

// S Styles Start

.course-team {
  article {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
  }

  .help-sidebar {
    background-color: white;
    padding: 1rem;
    border-radius: 1rem;
  }
}

// S Styles End

// N Styles Start

// N Styles End