.copilot-wrapper {
    display: flex;
    flex-shrink: 0;

    &.inline {
        position: fixed;
        z-index: 999;
        flex: 0 0 auto;
    }

    &.docked {
        position: relative;
        flex: 0 0 auto;
        z-index: 999;
        pointer-events: auto;
        transition: width 0.3s ease-in-out;
    }

    .copilot-panel {
        border: 1px solid var(--border-color);
        border-radius: 16px;
        color: var(--text-primary);
        position: relative;
        pointer-events: auto;

        &.fullscreen {
            border: none;
            border-radius: 0;
        }

        .copilot-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 6px;
            border-bottom: 1px solid var(--border-color);

            .header-left {
                display: flex;
                align-items: center;
            }

            .header-mid {
                cursor: move;
                height: 36px;
                width: 100%;
            }

            .header-right {
                display: flex;
                align-items: center;
                gap: 4px;
            }

            .title {
                font-weight: bold;
                margin-left: 8px;
            }

            .drag-handle {
                cursor: pointer;
                margin: 0 8px;

                .dots {
                    display: grid;
                    grid-template-columns: repeat(3, 4px);
                    grid-template-rows: repeat(2, 4px);
                    grid-gap: 2px;

                    span {
                        background: var(--text-muted);
                        border-radius: 50%;
                    }
                }
            }

            .minimize-icon {
                margin: 0 4px;
            }
        }

        .copilot-content {
            flex: 1 1 auto;
            min-height: 0;
            padding: 0.5rem 1rem;
            height: 100%;
            width: 100%;
            // overflow-y: hidden;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            .chat-messages {
                max-height: 75%;
                width: 100%;
                overflow-y: scroll;
                margin-bottom: 1rem;
                scrollbar-width: none;
                -ms-overflow-style: none;

                .message-container {
                    margin-top: auto;
                    display: flex;
                    flex-direction: column;
                    margin: 0.5rem 0;

                    &.ai {
                        align-items: flex-start;
                    }

                    &.user {
                        max-width: 100%;
                        align-items: flex-end;
                        display: flex;
                        align-items: end;
                        text-align: right;
                        // text-align: right;
                        background: var(--bg-body);
                        padding: 0.5rem 1rem;
                        // margin: 0.5rem 0;
                        border-radius: 8px;
                        // width: initial;
                    }

                    .message {
                        font-size: 1rem;
                        line-height: 120%;
                        border-radius: 8px;
                        max-width: 75%;
                        width: auto;
                    }



                    .suggestion {
                        font-size: 1rem;
                        line-height: 120%;
                        padding: 0.3rem 0.6rem;
                        border: 1px solid var(--border-color);
                        border-radius: 8px;
                        margin: 0.25rem 0;
                        max-width: 75%;
                        width: auto;
                        cursor: pointer;

                        &.selected {
                            border-color: var(--primary);
                            background-color: var(--bg-hover);
                        }

                        &:hover {
                            border-color: var(--primary);
                        }

                        &.image-suggestion {
                            max-width: 75%;
                            width: auto;
                            border: 1px solid var(--border-color);
                            border-radius: 8px;
                            padding: 0;
                            margin: 0.5rem 0;

                            &:hover {
                                border-color: var(--primary);
                            }

                            &.selected {
                                border-color: var(--primary);
                                box-shadow: 0 0 5px var(--primary);
                            }
                        }
                    }

                }
            }

            .copilot-content-bottom {
                height: 20%;
                width: 100%;
                display: flex;
                justify-content: flex-end;
                flex-direction: column;
                flex-shrink: -1;

                .copilot-content-bottom-button {
                    display: flex;
                    gap: 8px;
                    padding: 8px 16px;
                    justify-content: flex-start;

                    button {
                        font-size: 14px;
                        padding: 4px 8px;
                        line-height: 1.2;
                    }
                }

                .input-container {
                    display: flex;
                    align-items: center;
                    gap: 4px;

                    input {
                        font-size: 12px;
                        padding: 4px 8px;
                    }

                    button {
                        font-size: 12px;
                        padding: 4px 8px;
                    }
                }
            }




        }

        .resize-indicator {
            position: absolute;
            pointer-events: auto;
            opacity: 0.6;
            z-index: 1008;
            cursor: ew-resize;

            &::before {
                content: '';
                display: block;
                background: rgba(0, 0, 0, 0.6);
                border-radius: 2px;
            }

            &:hover {
                opacity: 1;
            }
        }

        .left-indicator {
            top: 50%;
            left: 4px;
            transform: translateY(-50%);
            width: 4px;
            height: 40px;

            &::before {
                width: 100%;
                height: 100%;
            }
        }

        .bottom-right-indicator {
            right: 12px;
            bottom: 6px;
            width: 4px;
            height: 16px;
            transform: rotate(45deg);

            &::before {
                width: 100%;
                height: 100%;
            }
        }


        .resizer {
            position: absolute;
            background: transparent;
            z-index: 1010;

            &-left {
                left: 0;
                top: 0;
                bottom: 0;
                width: 5px;
                cursor: ew-resize;
            }

            &-bottom-right {
                right: 0;
                bottom: 0;
                width: 10px;
                height: 10px;
                cursor: nwse-resize;
            }
        }
    }
}

.isDocked {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}