.component-style-default {
  background-color: #005C9E;

  .pgn__icon {
    color: white;
  }
}

.component-style-html {
  background-color: #9747FF;

  .pgn__icon {
    color: white;
  }
}

.component-style-collection {
  background-color: #FFCD29;

  .pgn__icon {
    color: black;
  }
}

.component-style-video {
  background-color: #358F0A;

  .pgn__icon {
    color: white;
  }
}

.component-style-vertical {
  background-color: #0B8E77;

  .pgn__icon {
    color: white;
  }
}

.component-style-other {
  background-color: #646464;

  .pgn__icon {
    color: white;
  }
}
