:root {
  --content-library-component-default-color: #646464;
  --content-library-component-default-color-light: #7E7E7E;
  --content-library-component-default-color-light-focus: #979797;
  --content-library-component-default-color-dark: #3E3E3E;
  --content-library-component-primary-color: #005C9E;
  --content-library-component-primary-color-light: #007AD1;
  --content-library-component-primary-color-light-focus: #0597FF;
  --content-library-component-primary-color-dark: #002F52;
  --content-library-component-html-color: #9747FF;
  --content-library-component-html-color-light: #B47AFF;
  --content-library-component-html-color-light-focus: #D1ADFF;
  --content-library-component-html-color-dark: #6C00FA;
  --content-library-component-video-color: #358F0A;
  --content-library-component-video-color-light: #47BF0D;
  --content-library-component-video-color-light-focus: #58EE11;
  --content-library-component-video-color-dark: #1B4805;
  --content-library-collection-color: #FFCD29;
  --content-library-collection-color-light: #FFD95C;
  --content-library-collection-color-light-focus: #FFDF75;
  --content-library-collection-color-dark: #DCA800;
  --content-library-container-unit-color: #0B8E77;
  --content-library-container-unit-color-light: #0FBD9F;
  --content-library-container-unit-color-light-focus: #12EDC6;
  --content-library-container-unit-color-dark: #06473C;
  --content-library-container-subsection-color: #EA3E3E;
  --content-library-container-subsection-color-light: #EF6C6C;
  --content-library-container-subsection-color-light-focus: #F49A9A;
  --content-library-container-subsection-color-dark: #C61616;
  --content-library-container-section-color: #45009E;
  --content-library-container-section-color-light: #5B00D1;
  --content-library-container-section-color-light-focus: #7205FF;
  --content-library-container-section-color-dark: #240052;
}

.component-style-default {
  background-color: var(--content-library-component-primary-color);

  .pgn__icon:not(.btn-icon-before) {
    color: white;
  }

  .btn-icon {
    &:hover, &:active, &:focus {
      background-color: var(--content-library-component-primary-color-dark);
    }
  }

  .btn {
    background-color: var(--content-library-component-primary-color-light);
    border: 0;

    &:hover, &:active, &:focus {
      background-color: var(--content-library-component-primary-color-light-focus);
      border: 1px solid var(--pgn-color-primary-base);
      margin: -1px;
    }
  }

  span {
    color: white;
  }
}

.component-style-html {
  background-color: var(--content-library-component-html-color);

  .pgn__icon:not(.btn-icon-before) {
    color: white;
  }

  .btn-icon {
    &:hover, &:active, &:focus {
      background-color: var(--content-library-component-html-color-dark);
    }
  }

  .btn {
    background-color: var(--content-library-component-html-color-light);
    border: 0;

    &:hover, &:active, &:focus {
      background-color: var(--content-library-component-html-color-light-focus);
      border: 1px solid var(--pgn-color-primary-base);
      margin: -1px;
    }
  }

  span {
    color: white;
  }
}

.component-style-collection {
  background-color: var(--content-library-collection-color);

  .pgn__icon:not(.btn-icon-before) {
    color: black;
  }

  .btn-icon {
    &:hover, &:active, &:focus {
      background-color: var(--content-library-collection-color-dark);
    }
  }

  .btn {
    background-color: var(--content-library-collection-color-light);
    border: 0;

    &:hover, &:active, &:focus {
      background-color: var(--content-library-collection-color-light-focus);
      border: 1px solid var(--pgn-color-primary-base);
      margin: -1px;
    }
  }

  span {
    color: black;
  }
}

.component-style-video {
  background-color: var(--content-library-component-video-color);

  .pgn__icon:not(.btn-icon-before) {
    color: white;
  }

  .btn-icon {
    &:hover, &:active, &:focus {
      background-color: var(--content-library-component-video-color-dark);
    }
  }

  .btn {
    background-color: var(--content-library-component-video-color-light);
    border: 0;

    &:hover, &:active, &:focus {
      background-color: var(--content-library-component-video-color-light-focus);
      border: 1px solid var(--pgn-color-primary-base);
      margin: -1px;
    }
  }

  span {
    color: white;
  }
}

.component-style-vertical {
  background-color: var(--content-library-container-unit-color);

  .pgn__icon:not(.btn-icon-before) {
    color: white;
  }

  .btn-icon {
    &:hover, &:active, &:focus {
      background-color: var(--content-library-container-unit-color-dark);
    }
  }

  .btn {
    background-color: var(--content-library-container-unit-color-light);
    border: 0;

    &:hover, &:active, &:focus {
      background-color: var(--content-library-container-unit-color-light-focus);
      border: 1px solid var(--pgn-color-primary-base);
      margin: -1px;
    }
  }

  span {
    color: white;
  }
}

.component-style-sequential {
  background-color: var(--content-library-container-subsection-color);

  .pgn__icon:not(.btn-icon-before) {
    color: white;
  }

  .btn-icon {
    &:hover, &:active, &:focus {
      background-color: var(--content-library-container-subsection-color-dark);
    }
  }

  .btn {
    background-color: var(--content-library-container-subsection-color-light);
    border: 0;

    &:hover, &:active, &:focus {
      background-color: var(--content-library-container-subsection-color-light-focus);
      border: 1px solid var(--pgn-color-primary-base);
      margin: -1px;
    }
  }

  span {
    color: white;
  }
}

.component-style-chapter {
  background-color: var(--content-library-container-section-color);

  .pgn__icon:not(.btn-icon-before) {
    color: white;
  }

  .btn-icon {
    &:hover, &:active, &:focus {
      background-color: var(--content-library-container-section-color-dark);
    }
  }

  .btn {
    background-color: var(--content-library-container-section-color-light);
    border: 0;
    color: white;

    &:hover, &:active, &:focus {
      background-color: var(--content-library-container-section-color-light-focus);
      border: 1px solid var(--pgn-color-primary-base);
      margin: -1px;
    }
  }

  span {
    color: white;
  }
}

.component-style-other {
  background-color: var(--content-library-component-default-color);

  .pgn__icon:not(.btn-icon-before) {
    color: white;
  }

  .btn-icon {
    &:hover, &:active, &:focus {
      background-color: var(--content-library-component-default-color-dark);
    }
  }

  .btn {
    background-color: var(--content-library-component-default-color-light);
    border: 0;

    &:hover, &:active, &:focus {
      background-color: var(--content-library-component-default-color-light-focus);
      border: 1px solid var(--pgn-color-primary-base);
      margin: -1px;
    }
  }

  span {
    color: white;
  }
}

.icon-with-border {
  background-color: white;
  border: 1px solid var(--content-library-component-default-color);

  .pgn__icon {
    color: var(--content-library-component-default-color);
  }
}

.icon-with-border-problem,
.icon-with-border-drag-and-drop-v2,
.icon-with-border-openassessment {
  border: 1px solid var(--content-library-component-primary-color);

  .pgn__icon {
    color: var(--content-library-component-primary-color);
  }
}

.icon-with-border-section {  
  border: 1px solid var(--content-library-container-section-color);

  .pgn__icon {
    color: var(--content-library-container-section-color);
  }
}

.icon-with-border-subsection {  
  border: 1px solid var(--content-library-container-subsection-color);

  .pgn__icon {
    color: var(--content-library-container-subsection-color);
  }
}

.icon-with-border-unit {  
  border: 1px solid var(--content-library-container-unit-color);

  .pgn__icon {
    color: var(--content-library-container-unit-color);
  }
}

.icon-with-border-html {  
  border: 1px solid var(--content-library-component-html-color);

  .pgn__icon {
    color: var(--content-library-component-html-color);
  }
}

.icon-with-border-video {  
  border: 1px solid var(--content-library-component-video-color);

  .pgn__icon {
    color: var(--content-library-component-video-color);
  }
}
