:root {
  --content-library-component-default-color: #646464;
  --content-library-component-default-color-light: #7e7e7e;
  --content-library-component-default-color-light-focus: #979797;
  --content-library-component-default-color-dark: #3e3e3e;
  --content-library-component-primary-color: #005c9e;
  --content-library-component-primary-color-light: #007ad1;
  --content-library-component-primary-color-light-focus: #0597ff;
  --content-library-component-primary-color-dark: #002f52;
  --content-library-component-html-color: #9747ff;
  --content-library-component-html-color-light: #b47aff;
  --content-library-component-html-color-light-focus: #d1adff;
  --content-library-component-html-color-dark: #6c00fa;
  --content-library-component-video-color: #358f0a;
  --content-library-component-video-color-light: #47bf0d;
  --content-library-component-video-color-light-focus: #58ee11;
  --content-library-component-video-color-dark: #1b4805;
  --content-library-collection-color: #ffcd29;
  --content-library-collection-color-light: #ffd95c;
  --content-library-collection-color-light-focus: #ffdf75;
  --content-library-collection-color-dark: #dca800;
  --content-library-container-unit-color: #0b8e77;
  --content-library-container-unit-color-light: #0fbd9f;
  --content-library-container-unit-color-light-focus: #12edc6;
  --content-library-container-unit-color-dark: #06473c;
  --content-library-container-subsection-color: #ea3e3e;
  --content-library-container-subsection-color-light: #ef6c6c;
  --content-library-container-subsection-color-light-focus: #f49a9a;
  --content-library-container-subsection-color-dark: #c61616;
  --content-library-container-section-color: #45009e;
  --content-library-container-section-color-light: #5b00d1;
  --content-library-container-section-color-light-focus: #7205ff;
  --content-library-container-section-color-dark: #240052;
}

.component-style-default {
  background-color: var(--content-library-component-primary-color);

  .pgn__icon:not(.btn-icon-before) {
    color: white;
  }

  .btn-icon {
    &:hover,
    &:active,
    &:focus {
      background-color: var(--content-library-component-primary-color-dark);
    }
  }

  .btn {
    background-color: var(--content-library-component-primary-color-light);
    border: 0;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--content-library-component-primary-color-light-focus);
      border: 1px solid var(--pgn-color-primary-base);
      margin: -1px;
    }
  }

  span {
    color: white;
  }
}

.component-style-html {
  background-color: var(--content-library-component-html-color);

  .pgn__icon:not(.btn-icon-before) {
    color: white;
  }

  .btn-icon {
    &:hover,
    &:active,
    &:focus {
      background-color: var(--content-library-component-html-color-dark);
    }
  }

  .btn {
    background-color: var(--content-library-component-html-color-light);
    border: 0;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--content-library-component-html-color-light-focus);
      border: 1px solid var(--pgn-color-primary-base);
      margin: -1px;
    }
  }

  span {
    color: white;
  }
}

.component-style-collection {
  background-color: var(--content-library-collection-color);

  .pgn__icon:not(.btn-icon-before) {
    color: black;
  }

  .btn-icon {
    &:hover,
    &:active,
    &:focus {
      background-color: var(--content-library-collection-color-dark);
    }
  }

  .btn {
    background-color: var(--content-library-collection-color-light);
    border: 0;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--content-library-collection-color-light-focus);
      border: 1px solid var(--pgn-color-primary-base);
      margin: -1px;
    }
  }

  span {
    color: black;
  }
}

.component-style-video {
  background-color: var(--content-library-component-video-color);

  .pgn__icon:not(.btn-icon-before) {
    color: white;
  }

  .btn-icon {
    &:hover,
    &:active,
    &:focus {
      background-color: var(--content-library-component-video-color-dark);
    }
  }

  .btn {
    background-color: var(--content-library-component-video-color-light);
    border: 0;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--content-library-component-video-color-light-focus);
      border: 1px solid var(--pgn-color-primary-base);
      margin: -1px;
    }
  }

  span {
    color: white;
  }
}

.component-style-vertical {
  background-color: var(--content-library-container-unit-color);

  .pgn__icon:not(.btn-icon-before) {
    color: white;
  }

  .btn-icon {
    &:hover,
    &:active,
    &:focus {
      background-color: var(--content-library-container-unit-color-dark);
    }
  }

  .btn {
    background-color: var(--content-library-container-unit-color-light);
    border: 0;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--content-library-container-unit-color-light-focus);
      border: 1px solid var(--pgn-color-primary-base);
      margin: -1px;
    }
  }

  span {
    color: white;
  }
}

.component-style-sequential {
  background-color: var(--content-library-container-subsection-color);

  .pgn__icon:not(.btn-icon-before) {
    color: white;
  }

  .btn-icon {
    &:hover,
    &:active,
    &:focus {
      background-color: var(--content-library-container-subsection-color-dark);
    }
  }

  .btn {
    background-color: var(--content-library-container-subsection-color-light);
    border: 0;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--content-library-container-subsection-color-light-focus);
      border: 1px solid var(--pgn-color-primary-base);
      margin: -1px;
    }
  }

  span {
    color: white;
  }
}

.component-style-chapter {
  background-color: var(--content-library-container-section-color);

  .pgn__icon:not(.btn-icon-before) {
    color: white;
  }

  .btn-icon {
    &:hover,
    &:active,
    &:focus {
      background-color: var(--content-library-container-section-color-dark);
    }
  }

  .btn {
    background-color: var(--content-library-container-section-color-light);
    border: 0;
    color: white;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--content-library-container-section-color-light-focus);
      border: 1px solid var(--pgn-color-primary-base);
      margin: -1px;
    }
  }

  span {
    color: white;
  }
}

.component-style-other {
  background-color: var(--content-library-component-default-color);

  .pgn__icon:not(.btn-icon-before) {
    color: white;
  }

  .btn-icon {
    &:hover,
    &:active,
    &:focus {
      background-color: var(--content-library-component-default-color-dark);
    }
  }

  .btn {
    background-color: var(--content-library-component-default-color-light);
    border: 0;

    &:hover,
    &:active,
    &:focus {
      background-color: var(--content-library-component-default-color-light-focus);
      border: 1px solid var(--pgn-color-primary-base);
      margin: -1px;
    }
  }

  span {
    color: white;
  }
}

.icon-with-border {
  background-color: white;
  border: 1px solid var(--content-library-component-default-color);

  .pgn__icon {
    color: var(--content-library-component-default-color);
  }
}

.icon-with-border-problem,
.icon-with-border-drag-and-drop-v2,
.icon-with-border-openassessment {
  border: 1px solid var(--content-library-component-primary-color);

  .pgn__icon {
    color: var(--content-library-component-primary-color);
  }
}

.icon-with-border-section {
  border: 1px solid var(--content-library-container-section-color);

  .pgn__icon {
    color: var(--content-library-container-section-color);
  }
}

.icon-with-border-subsection {
  border: 1px solid var(--content-library-container-subsection-color);

  .pgn__icon {
    color: var(--content-library-container-subsection-color);
  }
}

.icon-with-border-unit {
  border: 1px solid var(--content-library-container-unit-color);

  .pgn__icon {
    color: var(--content-library-container-unit-color);
  }
}

.icon-with-border-html {
  border: 1px solid var(--content-library-component-html-color);

  .pgn__icon {
    color: var(--content-library-component-html-color);
  }
}

.icon-with-border-video {
  border: 1px solid var(--content-library-component-video-color);

  .pgn__icon {
    color: var(--content-library-component-video-color);
  }
}
