@import "files-and-videos/videos-page/transcript-settings/TranscriptSettings";
@import "files-and-videos/videos-page/VideoThumbnail";
@import "files-and-videos/generic/table-components/GalleryCard";

.files-table {
  #table-filters-dropdown {
    visibility: hidden;
  }

  .pgn__data-table-layout-main {
    background-color: $light-200;

    .pgn__data-table-status-bar {
      padding: 12px 0;
    }

    .pgn__data-table-card-view {
      margin-left: 24px;

      .pgn__card-grid__card-item {
        padding: 0 24px 24px 0px;
        margin-bottom: 0;
      }
    }

    
  }
}

.pgn__form-control-set-inline {
  .pgn__form-checkbox {
    margin: 0;
  }

  width: 90%;
  display: inline-grid;
  grid-auto-flow: row;
  gap: 24px 16px;
  grid-template-columns: repeat(3, 33%);
}
