@import "files-and-videos/videos-page/transcript-settings/TranscriptSettings";
@import "files-and-videos/videos-page/VideoThumbnail";
@import "files-and-videos/generic/table-components/GalleryCard";

.files-table {
  #table-filters-dropdown {
    visibility: hidden;
  }

  .more-info-menu {
    padding: 8px 0;
    overflow-x: hidden;
    max-height: 500px;
    width: 321px;

    @include pgn-box-shadow(2, "down");

    .pgn__menu-item {
      width: 100%;
      justify-content: start;

      &.focus,
      &:focus {
        font-weight: 500;
      }
    }
  }
}

.pgn__form-control-set-inline {
  .pgn__form-checkbox {
    margin: 0;
  }

  width: 90%;
  display: inline-grid;
  grid-auto-flow: row;
  gap: 24px 16px;
  grid-template-columns: repeat(3, 33%);
}
