.item-card-header {
  display: flex;
  align-items: center;

  .item-card-header__title-btn {
    justify-content: flex-start;
    padding: 0;
    flex: 1 1 0;
    height: 1.5rem;
    margin-right: .25rem;
    background: transparent;
    color: var(--pgn-color-black);

      .truncate-1-line {
        -webkit-line-clamp: 1;  /* stylelint-disable-line value-no-vendor-prefix */
        line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;  /* stylelint-disable-line value-no-vendor-prefix */
        min-width: 100px;
        -webkit-box-orient: vertical;  /* stylelint-disable-line value-no-vendor-prefix */
      }
  }

  .item-card-button-icon {
    opacity: 0;
    transition: opacity .3s linear;
    margin-right: .5rem;

    &:focus {
      opacity: 1;
    }
  }

  &:hover {
    .item-card-button-icon {
      opacity: 1;
    }
  }

  .allow-hover-on-disabled {
    &.disabled {
      pointer-events: auto;
      cursor: default;
    }
  }
}
