.section-card {
  @include pgn-box-shadow(1, "centered");

  padding: $spacer 1.5rem 1.5rem;
  cursor: move;
  margin-bottom: 1.5rem;

  .section-card__content {
    margin-top: $spacer;
  }

  .section-card__highlights {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0;
    background: transparent;

    &::before {
      display: none;
    }

    .highlights-badge {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 1.75rem;
      height: 1.75rem;
      border-radius: 1.375rem;
      font-size: 1.125rem;
      font-weight: 700;
    }
  }
}
