.section-card {
  flex-grow: 1;

  .section-card__subsections {
    margin-top: var(--pgn-spacing-spacer-base);
  }

  .section-card-title {
    font-size: var(--pgn-typography-font-size-h3-base);
    font-family: var(--pgn-typography-headings-font-family);
    font-weight: var(--pgn-typography-headings-font-weight);
    line-height: var(--pgn-typography-headings-line-height);
    color: var(--pgn-color-headings-base);
  }

  .section-card__content {
    margin-left: 1.7rem;
  }
}
