.legacy-library-migration-page {
  .migration-container {
    .courses-tab-container {
      min-height: auto;
    }

    .migration-content {
     flex: 1;
    }

    .card-item {
      margin: 0 0 16px !important;
    }
  }

  .confirmation-view {
    .pgn__card-header-content {
      margin-top: calc(var(--pgn-spacing-spacer-base)) !important;;
    }
  }

  .content-buttons {
    width: 100%;
    position: fixed;
    bottom: 0;
  }
}
