.library-container-children {
  .pgn__card {
    border-radius: 8px;
    padding: 0;
    margin-bottom: 1rem;
  }

  .pgn__card.clickable {
    box-shadow: none;

    &::before {
      border: none !important; // Remove default focus
    }

    &.selected:not(:focus) {
      outline: 2px var(--pgn-color-gray-700) solid;
    }

    &.selected:focus {
      outline: 3px var(--pgn-color-gray-700) solid;
    }

    &:not(.selected):focus {
      outline: 1px var(--pgn-color-gray-200) solid;
      outline-offset: 2px;
    }
  }

  .pgn__card.clickable:hover {
    box-shadow: 0 .125rem .25rem rgb(0 0 0 / .15), 0 .125rem .5rem rgb(0 0 0 / .15);
  }
}

.breadcrumb-menu {
  button {
    padding: 0;
  }
}
