.course-update {
  &:not(:first-child) {
    padding-top: 1.875rem;
    margin-top: 1.875rem;
    border-top: 1px solid $light-400;
  }

  .course-update-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.125rem;

    .course-update-header__date {
      line-height: 1.875rem;
      letter-spacing: 1px;
    }

    .course-update-header__action {
      display: flex;
      width: auto;
      gap: .5rem;
    }
  }
}
