/* Basic styles to support GameEditor layout and classes used in JSX */
.editor-body {
  height: 100%;
}

.page-body {
  gap: 24px;
  display: flex;
  padding: 8px 0 0 24px;
  align-items: flex-start;
  width: 100%;
  background: var(--extras-white, #FFFFFF);
}

.terms {
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: 16px;
  align-self: stretch;
}

.terms > div {
width: 100%;
}

.sidebar {
  width: 320px;
  display: flex;
  padding: 8px 24px 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  flex-shrink: 0;
}

.description-header {
  color: var(--primary-500, #00262B);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
}

.draggable-button {
  cursor: grab;
  position: absolute;
  left: 12px;
}

.card-number {
  width: 32px;
  height: 32px;
  border-radius: 16px;
  background: #EEF1F5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  color: var(--primary-500, #00262B);
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.img-preview {
  width: 24px;
  height: 24px;
  object-fit: cover;
  max-height: 32px;
  max-width: 32px;
}

.card-image-area {
  display: flex;
  padding: 0 24px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  align-self: stretch;
  max-height: 200px;
  border-radius: 8px;
}

.card-divider {
  width: 100%;
  display: flex;
  height: 1px;
  justify-content: center;
  align-items: center;
  align-self: stretch;
  background: var(--light-400, #EAE6E5);
}

.add-button {
  display: inline-flex;
  align-items: center;
  gap: 8px;
}

.type-button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
}

.toggle-button {
  margin-right: 8px;
  width: 50%;
}

.preview-term {
  margin-right: 8px;
  display: inline-block;
  max-width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 8px;
  position: absolute;
  left: 0;
}

.preview-block {
  margin-right: 8px;
  bottom: 35%;
}

.preview-definition {
  display: inline-block;
  max-width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 8px;
  position: absolute;
  left: 50%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  align-self: stretch;
}

.description-body {
  align-self: stretch;
  color: var(--primary-500, #00262B);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  width: 100%;
  position: relative;
  border-radius: 6px;
  border: var(--extras-white, #FFFFFF);
  background: var(--extras-white, #FFFFFF);
}

.card-heading {
  display: flex;
  align-items: center;
  gap: 24px;
  align-self: stretch;
  width: 100%;
}

.card-spacer {
  flex: 1 0 0;
  align-self: stretch;
}

.card-delete-button, .card-image-button, .image-delete-button {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 44px;
}

.card-body {
  width: 100%;
  position: relative;
}

.card-body-divider {
  padding-top: 20px;
}

.card-term, .card-definition {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  gap: 16px;
  color: var(--primary-500, #00262B);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  padding: 24px;
}

.card-image {
  max-height: 200px;
}

.card-input-line {
  color: var(--gray-500, #707070);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.card-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1 0 0;
  border: 1px solid var(--gray-500, #707070);
  background: #FFFFFF;
  padding: 10px 16px;
  gap: 10px;
  align-self: stretch;
  color: var(--gray-500, #707070);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.sidebar-type, .sidebar-shuffle, .sidebar-timer {
  gap: 16px;
  border-radius: 4px;
  border: 1px solid var(--light-700, #D7D3D1);
  background: #FFFFFF;
  justify-content: space-between;
}

.drag-spacer {
  width: 20px;
  height: 44px;
}

.check {
  fill: green;
}

.card-dropdown {
  z-index: 10;
}

.settings-description {
  padding-bottom: 16px;
  color: #51565C;
  margin-bottom: 8px;
}
