%base-font-params {
  font-size: var(--pgn-typography-font-size-sm);
  line-height: var(--pgn-typography-line-height-base);
}

.course-unit-sidebar {
  .course-unit-sidebar-header {
    padding: var(--pgn-spacing-spacer-base) var(--pgn-spacing-spacer-base) var(--pgn-spacing-spacer-3-5);

    .course-unit-sidebar-header-icon {
      margin-right: var(--pgn-spacing-spacer-1);
    }

    .course-unit-sidebar-header-title {
      font-size: var(--pgn-typography-font-size-base);
      line-height: var(--pgn-typography-line-height-base);
    }
  }

  .course-unit-sidebar-footer {
    padding: 0 var(--pgn-spacing-spacer-base) var(--pgn-spacing-spacer-base);

    .course-unit-sidebar-visibility {
      .course-unit-sidebar-visibility-title {
        font-weight: var(--pgn-typography-font-weight-normal);
        color: var(--pgn-color-gray-700);

        @extend %base-font-params;
      }

      .course-unit-sidebar-visibility-section {
        @extend %base-font-params;
      }

      .course-unit-sidebar-location-description {
        font-size: var(--pgn-typography-font-size-xs);
        line-height: var(--pgn-typography-line-height-base);
        word-break: break-word;
      }

      .course-unit-sidebar-visibility-copy {
        font-weight: var(--pgn-typography-font-weight-bold);
        color: var(--pgn-color-gray-700);

        @extend %base-font-params;
      }

      .course-unit-sidebar-visibility-checkbox .pgn__form-label {
        font-size: var(--pgn-typography-font-size-sm);
        line-height: var(--pgn-typography-headings-line-height);
      }
    }

    .course-unit-sidebar-footer__divider {
      margin: var(--pgn-spacing-spacer-3-5) var(--pgn-spacing-spacer-0) var(--pgn-spacing-spacer-3-5);
    }

    .course-unit-sidebar-footer__discard-changes__btn + .course-unit-sidebar-footer__divider {
      margin: var(--pgn-spacing-spacer-2) var(--pgn-spacing-spacer-0) var(--pgn-spacing-spacer-3-5);
    }
  }

  .course-unit-sidebar-date {
    padding: 0 var(--pgn-spacing-spacer-base) var(--pgn-spacing-spacer-base);

    @extend %base-font-params;

    .course-unit-sidebar-date-stage {
      font-weight: var(--pgn-typography-font-weight-normal);

      @extend %base-font-params;
    }

    .course-unit-sidebar-date-timestamp {
      color: var(--pgn-color-gray-700);

      @extend %base-font-params;
    }

    &.is-stuff-only .course-unit-sidebar-date-and-with {
      text-decoration: line-through;
    }
  }

  .course-split-test-sidebar {
    padding: var(--pgn-spacing-spacer-base);

    @extend %base-font-params;

    .course-split-test-sidebar-title {
      font-size: $font-size-base;
      line-height: $line-height-base;
    }

    .course-split-test-sidebar-devider {
      width: 100%;
    }
  }
}
