.inplace-text-editor-label {
  display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.inplace-text-editor-with-edit-input {
  width: 100%;
}

.inplace-text-editor-with-edit-input:focus-within {
  :has(&) {
    width: 100%;
  }
}

