.tree-table-layout-fixed {
  table-layout: fixed;
}

.tree-table-create-row-actions-cell {
  overflow-wrap: anywhere;
}

.tree-table-overflow-anywhere {
  overflow-wrap: anywhere;
}

@for $depth from 0 through 10 {
  .tree-table-indent-#{$depth} {
    padding-inline-start: calc(var(--pgn-spacing-spacer-base) * #{$depth});
  }
}
