@import "./empty-placeholder/EmptyPlaceholder";

.configuration-section-name {
  text-transform: lowercase;

  &::first-letter {
    text-transform: capitalize;
  }

  .group-percentage-container {
    width: 1rem;
  }
}

.configuration-card {
  box-shadow: var(--pgn-elevation-box-shadow-down-1);
  background: var(--pgn-color-white);
  border-radius: .375rem;
  padding: var(--pgn-spacing-spacer-4);
  margin-bottom: var(--pgn-spacing-spacer-4);

  .configuration-card-header {
    display: flex;
    align-items: center;
    place-content: center space-between;

    .configuration-card-header__button {
      display: flex;
      align-items: flex-start;
      padding: 0;
      height: auto;
      color: var(--pgn-color-black);

      &:focus::before {
        display: none;
      }

      .pgn__icon {
        display: inline-block;
        margin-right: var(--pgn-spacing-spacer-1);
        margin-bottom: var(--pgn-spacing-spacer-2-5);
      }

      .pgn__hstack {
        align-items: baseline;
      }

      &:hover {
        background: transparent;
      }
    }

    .configuration-card-header__title {
      text-align: left;

      h3 {
        margin-bottom: var(--pgn-spacing-spacer-2);
      }
    }

    .configuration-card-header__badge {
      display: flex;
      padding: .125rem var(--pgn-spacing-spacer-2);
      justify-content: center;
      align-items: center;
      border-radius: var(--pgn-size-border-radius-base);
      border: .063rem solid var(--pgn-color-light-300);
      background: var(--pgn-color-white);

      &:first-child {
        margin-left: var(--pgn-spacing-spacer-2-5);
      }

      & span:last-child {
        color: var(--pgn-color-primary-700);
      }
    }

    .configuration-card-header__delete-tooltip {
      pointer-events: all;
    }
  }

  .configuration-card-content {
    margin: 0 var(--pgn-spacing-spacer-2) 0 var(--pgn-spacing-spacer-4);

    .configuration-card-content__experiment-stack {
      display: flex;
      justify-content: space-between;
      padding: var(--pgn-spacing-spacer-2-5) 0;
      margin: 0;
      color: var(--pgn-color-primary-500);
      gap: var(--pgn-spacing-spacer-base);

      &:not(:last-child) {
        border-bottom: .063rem solid var(--pgn-color-light-400);
      }
    }
  }

  .pgn__form-control-decorator-group {
    margin-inline-end: 0;
  }

  .configuration-form-group {
    .pgn__form-label {
      font: normal var(--pgn-typography-font-weight-bold) .875rem/1.25rem var(--pgn-typography-font-family-base);
      color: var(--pgn-color-gray-700);
      margin-bottom: .875rem;
    }

    .pgn__form-control-description,
    .pgn__form-text {
      font: normal var(--pgn-typography-font-weight-normal) .75rem/1.25rem var(--pgn-typography-font-family-base);
      color: var(--pgn-color-gray-500);
      margin-top: .625rem;
    }

    .pgn__form-text-invalid {
      color: var(--pgn-color-form-feedback-invalid);
    }
  }

  .experiment-configuration-form-percentage {
    width: 5rem;
    text-align: center;
  }
}
