.update-form {
  box-shadow: var(--pgn-elevation-box-shadow-centered-1);
  border: .0625rem solid var(--pgn-color-gray-200);
  border-radius: .375rem;
  background: var(--pgn-color-white);
  margin-bottom: var(--pgn-spacing-spacer-4);
  padding: var(--pgn-spacing-spacer-base) 1.875rem;

  .update-form-title {
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: var(--pgn-spacing-spacer-base);
  }

  .datepicker-field {
    display: flex;
    align-items: center;
    gap: .5rem;
    position: relative;

    .datepicker-float-labels {
      position: absolute;
      padding: 0 .1875rem;
      top: -.625rem;
      left: .3125rem;
      z-index: 9;
      background-color: var(--pgn-color-white);
    }

    .datepicker-field-error {
      display: flex;
      align-items: center;
      gap: .25rem;
    }

    .react-datepicker-popper {
      z-index: var(--pgn-elevation-dropdown-zindex);
    }
  }
}

.update-form__inner {
  margin-bottom: 0;
  margin-top: 1.875rem;
  padding: var(--pgn-spacing-spacer-4) 0 0;
  border-top: .0625rem solid var(--pgn-color-light-400);
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-radius: 0;
  box-shadow: none;
}

.update-form__inner-first {
  border-top: none;
  padding-top: 0;
  margin-top: 0;
}
