.desktop-card {
  width: 19rem;
}

.mobile-card {
  width: 100%;
}

.desktop-card,
.mobile-card {
  height: 14rem;
}

.shadow {
  box-shadow: 0 .125rem .25rem rgb(0 0 0 / .3) !important;
}

[dir="rtl"] {
  .desktop-card,
  .mobile-card {
    .pgn__card-header-actions .pgn__hyperlink .btn-icon {
      transform: scaleX(-1);
    }
  }
}

.card-description {
  padding: 0 !important;
  margin: 1.5rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  white-space: pre-wrap;
  overflow: hidden;

  span {
    margin: 0;
  }
}
