.desktop-card {
  width: 19rem;
  height: 14rem;
}

.mobile-card {
  width: 100%;
  height: 14rem;
}

.shadow {
  -webkit-box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3) !important;
}
