.course-unit {
  .new-component-type {
    gap: .75rem;
  }

  .add-component-button {
    box-shadow: var(--pgn-elevation-box-shadow-down-1);
    width: 11.63rem;
    height: 6.875rem;
  }
}

.add-component-modal-radio .pgn__form-radio-input {
  min-width: 1.25rem;
}
