.status-box {
  border: 2px solid;
  border-radius: 4px;

  &.draft-status {
    @extend %draft-status;
  }

  &.published-status {
    @extend %published-status;
  }

  .container-name {
    width: 200px;
  }
}

.status-button {
  border: 1px solid;
  border-left: 4px solid;
  text-align: center;
  white-space: pre-wrap;

  &.draft-status {
    @extend %draft-status;
  }

  &.published-status {
    @extend %published-status;
  }
}
