// do NOT @import "@openedx/paragon/scss/core/core"; in any files in this repo, or it will add 400 kB of extra CSS
// to the MFE each time you do so. The following are OK because they are only defining variables like $grey-500:
@import "@edx/brand/paragon/variables";
@import "@openedx/paragon/scss/core/_variables";

.dropzone-middle {
  border: 2px dashed #ccc;

  &.active {
    border: 2px solid #262626; /* change color when active */
  }
}

.pgn__dropzone {
  height: 96vh;
  width: 100%;
}

.video-id-prompt {

  input::placeholder {
    color: #454545;
    // color: #5E35B1;
    font-weight: '500';
    word-wrap: 'break-word';
  }

  button {
    border: none !important;
    background-color: #FFFFFF;
  }

  .btn-icon.url-submit-button {
    &, &:active, &:hover {
      background-color: transparent !important;
      border: none !important;
      color: $gray-500 !important;
    }
  }

  .prompt-button {
    background: rgba(239, 234, 247, 0.70);
  }
}
