.dropzone-middle {
  border: 2px dashed #ccc;

  &.active {
    border: 2px solid #262626; /* change color when active */
  }
}

.pgn__dropzone {
  height: 96vh;
  width: 100%;
}

.url-submit-button {
  position: absolute;
  margin-left: 17rem;
  font-size: 0.75rem;
}

.video-id-prompt {

  input::placeholder {
    color: #454545;
    // color: #5E35B1;
    font-weight: '500';
    word-wrap: 'break-word';
    font-size: 0.875rem !important;
  }

  button {
    border: none !important;
    background-color: #FFFFFF;
  }

  .prompt-button {
    background: rgba(239, 234, 247, 0.70);
  }
}

.form-control {
  font-size: 0.875rem !important;
  width: 308px !important;
  height: 44px !important;
}

.pgn__icon.pgn__icon__lg {
  width: 3.625rem !important;
  height: 3.625rem !important;
}
