.upstream-info-icon {
  &.size-one-md {
    width: 32px;
    height: 26px;
  }

  &.size-one-sm {
    width: 28px;
    height: 22px;
  }

  &.size-one-xs {
    width: 24px;
    height: 18px;
  }

  &.size-two-md {
    width: 60px;
    height: 26px;
  }

  &.size-two-sm {
    width: 46px;
    height: 22px;
  }

  &.size-two-xs {
    width: 36px;
    height: 18px;
  }
}
