.upstream-info-icon {
  &.size-md {
    width: 32px;
    height: 26px;
  }

  &.size-sm {
    width: 28px;
    height: 22px;
  }

  &.size-xs {
    width: 24px;
    height: 18px;
  }

  .pgn__icon {
    // Removes the right margin
    margin-right: 0 !important;
  }
};
