.taxonomy-card {
  width: 400px;
  height: 317px;

  .taxonomy-card-body {
    /*
      Set overflow to description
      I added '-webkit-box' to truncate multiple lines
    */
    font-size: 18px;
    display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .taxonomy-card-body-overflow-m {
    max-height: 220px;
    -webkit-line-clamp: 7;
  }

  .taxonomy-card-body-overflow-sm {
    max-height: 190px;
    -webkit-line-clamp: 6;
  }

  .taxonomy-menu-item:focus {
    /**
     * There is a bug in the menu that auto focus the first item.
     * We convert the focus style to a normal style.
     */
    background-color: white !important;
    font-weight: normal !important;
  }

  .taxonomy-menu-item:focus:hover {
    /**
     * Check the previous block about the focus.
     * This enable a normal hover to focused items.
     */
    background-color: $light-500 !important;
  }
}
