.library-authoring-course-import-block-card-header {
    .pgn__card-header-actions {
        margin-top: 1.4rem;
    }

    .pgn__card-header-content {
        margin-top: 0.6rem;
        margin-bottom: 0.6rem;
    }
}