.unit-card {
  flex-grow: 1;

  // used in src/course-outline/card-header/TitleLink.jsx &
  // src/course-outline/card-header/TitleButton.jsx as
  // `${namePrefix}-card-title`
  .unit-card-title {
    font-size: var(--pgn-typography-font-size-h5-base);
    font-family: var(--pgn-typography-headings-font-family);
    font-weight: var(--pgn-typography-headings-font-weight);
    line-height: var(--pgn-typography-headings-line-height);
    color: var(--pgn-color-headings-base);
  }
}
