.library-component-card {
  .library-component-header-html {
    background-color: aqua;
  }

  .library-component-card-description {
    /*
      Set overflow to description
      I added '-webkit-box' to truncate multiple lines
    */
    font-size: 18px;
    display: -webkit-box; /* stylelint-disable-line value-no-vendor-prefix */
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 220px;
    -webkit-line-clamp: 3;
  }
}
