.app-list-data-table {
  table {
    table-layout: fixed;
  }

  .pgn__data-table-container {
    tr {
      th {
        background-color: $white;
        text-align: center;

        .d-flex, span {
          display: block !important;
        }
      }

      td {
        background-color: $white;

        .pgn__data-table-cell-wrap {
          max-width: unset;
        }

      }
    }
  }
}

.height-36{
  height: 2.25rem !important;
}
.line-height-20{
  line-height: 1.25rem !important;
}
.font-size-14{
  font-size: 14px !important;
}

.discussion-restriction{
  .bg-primary-500 {
    &:hover{
      background-color: #0A3055 !important;
    }
  }
  .action-btn{
    padding: 10px 16px;
    width: 92px;
    height: 44px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
  .card-body-section{
    padding-top: 12px !important;
    padding-bottom: 20px !important;
  }
  .form-control{
    border-radius: 0px !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  }
  .collapsible-card{
    padding: 14px 14px 0px 24px !important;
    min-height:100px;
    .collapsible-trigger{
      padding: 0px !important;
      .badge{
        font-size: 12px;
        line-height: 20px;
      }
    }
  }
}
