.app-list-data-table {
  table {
    table-layout: fixed;
  }

  .pgn__data-table-container {
    tr {
      th {
        background-color: white;
        background-color: var(--white);
        text-align: center;

        .d-flex, span {
          display: block !important;
        }
      }

      td {
          background-color: white;
          background-color: var(--white);

        .pgn__data-table-cell-wrap {
          max-width: unset;
        }

      }
    }
  }
}
