@import "~@edx/brand/paragon/fonts";
@import "~@edx/brand/paragon/variables";
@import "~@edx/paragon/scss/core/core";
@import "~@edx/brand/paragon/overrides";

@import "studio-header/header";
@import "~@edx/frontend-component-footer/dist/footer";

@import "proctored-exam-settings/proctoredExamSettings";
