.pacing-section {
  .pgn__form-group {
    p.pgn__form-label {
      font: normal .875rem/1.5rem var(--pgn-typography-font-family-base);
    }

    label.pgn__form-label {
      font: normal var(--pgn-typography-font-weight-bold) .75rem/1.25rem var(--pgn-typography-font-family-base);
      color: $text-color-weak;
    }

    .pgn__form-control-description {
      font: normal .75rem/1.5rem var(--pgn-typography-font-family-base);
      color: var(--pgn-color-black);
    }
  }

  input.pgn__form-radio-input {
    padding: .5rem;
    height: var(--pgn-spacing-spacer-base);
    width: var(--pgn-spacing-spacer-base);
  }

  .pgn__form-control-set {
    padding: var(--pgn-spacing-spacer-base) 0 0 2.5rem;
  }
}
