.answer-option {
  .answer-option-textarea {
    textarea {
      border: none;
      resize: none;

      &:active, &:hover, &:focus, &:focus-visible {
        border: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        box-shadow: none;
      }

      &:focus, &:hover {
        border-bottom: 1px solid #000;
      }
    }
  }
}
