@import '../../../../../../colors.scss';

.problem-answer {
  padding: 12px;

  .problem-answer-title {
    font-weight: bold;
  }
  
  .problem-answer-description {
    font-size: 0.9rem;
  }
}

.answer-option {
  // The paragon icon path is missing "fill: currentColor"
  .feedback-icon-button {
    &:hover {
      &:not(:focus) {
        svg {
          path {
            fill: $white;
          }
        }
      }
    }
  }

  .answer-option-flex-item-1 {
    flex-basis: 8.33%;
  }

  .answer-option-flex-item-2 {
    flex-basis: 83.34%;
  }

  .answer-option-flex-item-3 {
    flex-basis: 8.33%;
  }

  .answer-option-textarea {
    textarea {
      border: none;
      resize: none;

      &:active, &:hover, &:focus, &:focus-visible {
        border: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        box-shadow: none;
      }

      &:focus, &:hover {
        border-bottom: 1px solid $black;
      }
    }
  }
}