@import '../../../../../../colors.scss';

.answer-option {
  .answer-option-flex-item-1 {
    flex-basis: 8.33%;
  }

  .answer-option-flex-item-2 {
    flex-basis: 83.34%;
  }

  .answer-option-flex-item-3 {
    flex-basis: 8.33%;
  }

  .answer-option-textarea {
    textarea {
      border: none;
      resize: none;

      &:active, &:hover, &:focus, &:focus-visible {
        border: none;
        border-right: none;
        border-left: none;
        border-radius: 0;
        box-shadow: none;
      }

      &:focus, &:hover {
        border-bottom: 1px solid $black;
      }
    }
  }
}