// legend styling should match label styling
legend {
    font-size: 1.0rem;
    font-weight: 700;
}

// override conflicting browser styles
select {
    -webkit-appearance: none;
    -moz-appearance: none;
}
