.content-title-block {
  span {
    color: #333;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.375rem;
    width: 10rem;
    border-right: 1px solid grey;
  }
  margin-right: 0.5rem;
}

.secondary-menu-container {
    padding-left: 0.3rem;
}