// .video-settings-modal {
//   .video-preview {
//   }
//   .video-controls {
//   }
// }

.video-settings-back-btn {
  text-decoration: none;
  margin-left: 3px;
}

.video-settings-back-icon {
  height: 13px;
}
