.help-sidebar {
  .help-sidebar-about {
    .help-sidebar-about-title {
      color: var(--pgn-color-black);
      margin-bottom: 1.25rem;
    }

    .help-sidebar-about-descriptions {
      font: normal var(--pgn-typography-font-weight-normal) .875rem/1.5rem var(--pgn-typography-font-family-base);
      color: $text-color-base;
    }

    .help-sidebar-about-link {
      font: normal var(--pgn-typography-font-weight-normal) .875rem/1.5rem var(--pgn-typography-font-family-base);
    }
  }

  .help-sidebar-other-links ul {
    list-style: none;
  }

  .help-sidebar-other-title {
    font: normal var(--pgn-typography-font-weight-bold) 1.125rem/1.5rem var(--pgn-typography-font-family-base);
    color: var(--pgn-color-black);
    margin-bottom: 1.25rem;
  }

  .sidebar-link {
    font: normal var(--pgn-typography-font-weight-normal) .875rem/1.5rem var(--pgn-typography-font-family-base);
    line-height: 1.5rem;
    color: var(--pgn-color-info-500);
    margin-bottom: .5rem;
  }
}
