@import "./basic-section/BasicSection";
@import "./credit-section/CreditSection";
@import "./pacing-section/PacingSection";
@import "./schedule-section/ScheduleSection";
@import "./schedule-section/datepicker-control/DatepickerControl";
@import "./schedule-section/certificate-display-row/CertificateDisplayRow";

.section-container {
  &:not(:last-child) {
    margin-bottom: 1.75rem;
  }

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .25rem;
    margin-bottom: .75rem;
    border-bottom: $border-width solid $light-400;
  }
}
