.configure-modal {
  max-width: 33.6875rem;
  overflow: visible;

  .configure-modal__header {
    padding-top: 1.5rem;
  }

  .configure-modal__body {
    overflow: visible;
  }

  .hide-header {
    .react-datepicker__header {
      display: none;
    }

    .react-datepicker-wrapper {
      width: 100%;
    }
  }
}
