.subsection-card {
  flex-grow: 1;

  .subsection-card__units {
    margin-top: var(--pgn-spacing-spacer-base);
  }

  .subsection-card-title {
    font-size: var(--pgn-typography-font-size-h4-base);
    font-family: var(--pgn-typography-headings-font-family);
    font-weight: var(--pgn-typography-headings-font-weight);
    line-height: var(--pgn-typography-headings-line-height);
    color: var(--pgn-color-headings-base);
  }

  .subsection-card__content {
    margin-left: 1.7rem;
  }
}
