.course-unit {
  .course-unit__xblocks {
    .pgn__card-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $light-400;
      padding-bottom: map-get($spacers, 2);
    }

    .pgn__card-header-title-md {
      font: 700 1.375rem/1.75rem $font-family-sans-serif;
      color: $black;
    }

    .pgn__card-section {
      padding: map-get($spacers, 3\.5) 0;
    }
  }

  .unit-iframe__wrapper .alert-danger {
    margin-bottom: 0;
  }
}
