name: validate
on:
  push:
    branches:
    - 'master'
  pull_request:
    branches:
    - '**'
jobs:
  tests:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version-file: '.nvmrc'
    - run: make validate.ci
    - name: Archive code coverage results
      uses: actions/upload-artifact@v6
      with:
        name: code-coverage-report
        path: coverage/*.*
  # We are trying out oxlint for a while. Please report if you ever see lint issues that eslint catches but oxlint
  # misses. We expect the opposite (oxlint should catch more issues).
  lint-preview:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v6
    - uses: actions/setup-node@v6
      with:
        node-version-file: '.nvmrc'
    - run: npm install
    - run: npm run oxlint
  coverage:
    runs-on: ubuntu-latest
    needs: tests
    steps:
    - uses: actions/checkout@v6
    - name: Download code coverage results
      uses: actions/download-artifact@v7
      with:
        pattern: code-coverage-report
        path: coverage
        merge-multiple: true
    - name: Upload coverage
      uses: codecov/codecov-action@v5
      with:
        fail_ci_if_error: true
        token: ${{ secrets.CODECOV_TOKEN }}
