.status-border-imported {
  border-left: 8px solid #5690BB;
}

.status-border-failed {
  border-left: 8px solid var(--pgn-color-danger-500);
}

.status-border-partial {
  border-left: 8px solid var(--pgn-color-warning-500);
}

.status-border-in-progress {
  border-left: 8px solid #F4B57B;
}
